.times-table {
  $white: #ffffff;
  $grey: #ececec;

  width: 100%;

  tr {
    cursor: pointer;
    
    &:nth-child(even) {
      background-color: $white;
    }

    &:nth-child(odd) {
      background-color: $grey;
    }
  }

  th, td {
    padding: 8px;
  }
}
