.seats {
	td {
		width: 40px;

		padding: 8px;

		text-align: center;
		
		box-sizing: border-box;
	}

	.seat {	
		cursor: pointer;

		&:hover {
		  background-color: rgba(0, 0, 0, 0.1);
		}

		&.is-taken {
		  font-weight: 700;

		  color: blue;

		  cursor: initial;
		}

		&.is-protected {
			opacity: 0.25;
		}
	}
}

#title {
	text-align: center;
}

.hideOverflow
{
	word-wrap: break-word;
 
}