 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
 @import 'movie/times';
 @import 'seats';

.btn {
  width: 500px !important;
}

img{
    width:250px; /* you can use % */
    height: auto;
}

h2.clear {
	clear: right;
}
